@media screen and (max-width: 900px) {
    .carousel {
        width: 100%;
    }
}

body {
    background-color: cadetblue;
    font-family: century gothic, sans-serif;
}
#image_container {
    margin: 20px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

.product_image {
    width: 100%;
}

.product_details_column {
}

.product_description_container {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.checkout_button_container {
    margin: 20px;
}

.checkout_button {
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    margin-right: 20px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    transition: font-size 1s;
}

.checkout_button:hover {
    font-size: 35px;
}

#timer_container {
    margin: 20px;
    padding: 20px;
    font-size: 30px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#timer {
    display: flex;
    flex-direction: row;
}

#day_count {
    font-size: 30px;
    padding-right: 20px;
}

#hour_count {
    font-size: 30px;
    padding-right: 20px;
}

#minute_count {
    font-size: 30px;
    padding-right: 20px;
}

#second_count {
    font-size: 30px;
}

.carousel {
    width: 60%;
    margin-bottom: 40px;
}

#customer_reviews_container {
    padding: 20px;
    margin: 20px;
    background-image:linear-gradient(white, lightgrey);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#customer_reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.customer_review {
    background-color: cadetblue;
    padding: 40px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: padding 1s;
}

.customer_review:hover {
    padding: 50px;
}